/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Aug 5, 2020, 10:35:50 PM
    Author     : root
*/

.gallery_container{
    margin:150px 0px 0px 0px auto;
    width:100%;
    padding:20px;
    max-height: 120px;
    background-color:#ccc;
}
.gallery_rows{
    position: inherit;
    top:150px;
    left:20px;
    width:100px;
    height:40px;
    margin-right:20px;
    background-color:rgb(234, 234, 234);
    display: inline-flex;
}