/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jul 24, 2020, 4:57:54 PM
    Author     : root
*/
$bg-color : #fff;
.container{
    margin:80px 0px 0px 0px;
}
.wrapper_content{
    background-color: $bg-color;
    border:1px solid #fff;
    border-radius:7px;
    width:100%;
    min-height:200px;
    padding:20px;
}