/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jul 23, 2020, 5:44:46 PM
    Author     : root
*/
$body_color: #666;
$font_color: #fff;
$font_color_hover:#ccc;
body{
    margin:0px auto;
    background-color:$body_color
}
a{
    text-decoration: none;
    color:$font_color;
}
a:hover{
    text-decoration: none;
    color:$font_color_hover;
}