/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jul 24, 2020, 5:39:15 PM
    Author     : root
*/
$bg-color : #fff;

.form_label{
    padding:0px 0px 20px 0px;
    font-size: 32px;
    width: 100%;
    text-align: center;
    color:#282828;
}
.form_login{
    position:relative;
    width:100%;
    min-height: 400px;
    padding:40px 40px 20px 40px;
    background-color: $bg-color;
    border-radius:7px;
}

.form_text{
    color:#282828;
    padding:0px 10px 0px 10px;
}

.form_label_text{
    color:#282828;
}
.form_link_register{
    color:#282828;
}
.container_login_btn{
    width:100%;
    margin:0px auto;
    padding:20px;
}
.btn_login_fb{
    margin:0px 0px 20px 0px;
    background-color:rgb(63, 89, 147);
    border:1px solid rgb(68, 150, 236);
    border-radius:7px;
    color:#fff;
    padding:10px;
    width:100%;
}
.btn_login_google{
    margin:0px 0px 20px 0px;    
    background-color:rgb(68, 150, 236);
    border:1px solid rgb(68, 150, 236);
    border-radius:7px;
    color:#fff;
    padding:10px;  
    width:100%;

}